<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Serif:400italic">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">

        <link rel="stylesheet" href="bower_components/magnific-popup/dist/magnific-popup.css">

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="angularChuteApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- chute-gallery="{album: 'abcqsrlx', perPage: 15}"  -->
    <div class="wall" masonry column-width="320" options="{gutter: 10, stamp: '.description'}" magnific-popup="{delegate: 'a.popup', markup: '.lightbox'}">
      <div class="lightbox ng-cloak">
        <div class="mfp-close"></div>
        <div class="border">
          <div class="mfp-img"></div>
          <div class="like icon-star" ng-class="{'active': asset.hearted()}" ng-click="asset.toggleHeart()"></div>
          <span class="likes"><span class="likes-number">{{asset.hearts}}</span> votes</span>
          <div class="meta">
            <span class="username">{{asset._username()}}</span>
             | 
            <i class="icon-map-marker"></i>&nbsp;&nbsp;{{asset.loc()}}
          </div>
          <p>{{asset.caption}}</p>
          <div class="sharing">
            <a href="#" class="facebook" target="_blank"><i class="icon-facebook icon-large"></i></a>
            <a href="#" class="twitter" target="_blank"><i class="icon-twitter icon-large"></i></a>
            <a href="#" class="pinterest" target="_blank"><i class="icon-pinterest icon-large"></i></a>
            <a href="#" class="tumblr" target="_blank"><i class="icon-tumblr icon-large"></i></a>
          </div>
        </div>
      </div>

      <div class="wall-item description">
        <section>
          <span>1. SUBMIT</span>
          <p>
            Upload as many as 10 photos of your most memorable travel moments and tell us what made them unforgettable.<br><br>
            All entries must be received<br>by September 16, 2013.
          </p>
          <a class="button open-submission-modal" href="#submission-modal">Upload Your Photos</a>
          <p><a href="#rules">Official Rules</a></p>
        </section>
        <section>
          <span>2. VOTE</span>
          <p>
            Vote for your favorites by clicking<br> the star symbol on any picture.<br>
            Come back to vote every day—<br>and share your own photos<br>for a better chance to win!
          </p>
        </section>
        <section>
          <span>3. WIN</span>
          <p>
            Come back on September 23 to see<br> if you're one of
            our 25 finalists<br> and to help select
            the winner of <br>the <strong>$25,000 grand prize</strong>.
          </p>
        </section>
      </div>

      <div class="masonry-brick wall-item" ng-repeat="asset in assets">
        <a class="popup" href="{{asset.url}}" title="{{asset.caption}}"><img ng-src="{{asset.url}}/w/300" width="300" border="0"></a>

        <div class="like icon-star" ng-class="{'active':asset.hearted()}" ng-click="asset.toggleHeart()"></div>

        <div class="meta">
          <span class="username">{{asset._username()}}</span>
          | 
          <i class="icon-map-marker"></i>&nbsp;&nbsp;{{asset.loc()}}
        </div>
        
        <p>{{asset.caption}}</p>
        
        <span class="likes"><span class="likes-number">{{asset.hearts}}</span> likes</span>
      </div>
    </div>

    <div id="submission-modal" class="submission-modal mfp-hide">
      <div>
        <div class="fields">
          <h1>Upload Your Photos</h1>
          <span class="note">(* required fields)</span>
        
          <form method="post" class="clearfix">
            <div class="row two clearfix">
              <div class="field">
                <label for="username">Username *</label>
                <input type="text" name="username" id="username">
              </div>
            
              <div class="field">
                <label for="email">Email *</label>
                <input type="text" name="email" id="email">
                <span class="note">Will be used in accordance with our <a href="http://www.condenast.com/privacy-policy#privacypolicy" target="_blank">Privacy Policy</a>.</span>
              </div>
            </div>
          
            <div class="row two clearfix">
              <div class="field">
                <label for="first_name">First name *</label>
                <input type="text" name="first_name" id="first_name">
              </div>
            
              <div class="field">
                <label for="last_name">Last name *</label>
                <input type="text" name="last_name" id="last_name">
              </div>
            </div>
          
            <div class="row clearfix">
              <div class="field">
                <label for="location">Location</label>
                <i class="icon-map-marker"></i><input type="text" name="location" id="location" placeholder="Where the photos were taken">
              </div>
            </div>

            <div class="row clearfix">
              <div class="field">
                <label>Category</label>
              </div>
              <input type="checkbox" name="category" value="adventure" id="category-adventure"><label for="category-adventure">adventure</label>
              <input type="checkbox" name="category" value="beach" id="category-beach"><label for="category-beach">beach</label>
              <input type="checkbox" name="category" value="cruise" id="category-cruise"><label for="category-cruise">cruise</label>
              <input type="checkbox" name="category" value="family" id="category-family"><label for="category-family">family</label>
              <input type="checkbox" name="category" value="food" id="category-food"><label for="category-food">food</label>
              <input type="checkbox" name="category" value="historic" id="category-historic"><label for="category-historic">historic</label>
              <br>
              <input type="checkbox" name="category" value="hotel" id="category-hotel"><label for="category-hotel">hotel</label>
              <input type="checkbox" name="category" value="landmark" id="category-landmark"><label for="category-landmark">landmark</label>
              <input type="checkbox" name="category" value="nature" id="category-nature"><label for="category-nature">nature</label>
              <input type="checkbox" name="category" value="romantic" id="category-romantic"><label for="category-romantic">romantic</label>
              <input type="checkbox" name="category" value="safari" id="category-safari"><label for="category-safari">safari</label>
              <input type="checkbox" name="category" value="sports" id="category-sports"><label for="category-sports">sports</label>
            </div>

          </form>
        </div>
        
        <div class="agreements">
          <div class="row clearfix">
            <input type="checkbox" name="subscribe" value="true" selected id="subscribe"> <label for="subscribe">Subscribe to the Daily Traveler newsletter for the latest travel inspiration, news, and tips from <span>Condé Nast Traveler</span>.</label>
          </div>

          <div class="row clearfix">
            <input type="checkbox" name="agree" value="true" id="agree"> <label for="agree">I agree to <a href="#rules" target="_blank">Official Rules</a>. *</label>
          </div>

          <div class="clearfix note">
            <span class="note">Problems uploading your photos? Email: <a href="mailto:support@getchute.com">support@getchute.com</a></span>
          </div>
        </div>

        <a class="button select-photo submit" href="#">Select photos</a>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script src="bower_components/get-style-property/get-style-property.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/doc-ready/doc-ready.js"></script>
    <script src="bower_components/matches-selector/matches-selector.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/angular-masonry/angular-masonry.js"></script>
    <script src="bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->

    <script src="chute/chute.js"></script>
    <script src="chute/api/Heart.js"></script>
    <script src="chute/api/Asset.js"></script>
    <script src="chute/directives/magnificPopup.js"></script>
    <script src="chute/directives/gallery.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/models/Asset.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

</body>
</html>
